@font-face {
  font-family: "League Spartan";
  src: url("https://fonts.google.com/specimen/League+Spartan");
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  font-family: "League Spartan";
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  color: var(--very-dark-magenta);
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--very-dark-magenta);
  font-weight: 700;
  text-align: left;
}

p {
  color: var(--dark-grayish-magenta);
  font-weight: 400;
  text-align: left;
}

.container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
  margin-top: 5rem;
}

.background-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-top-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/images/bg-pattern-top-desktop.svg");
}

.background-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: url("/assets/images/bg-pattern-bottom-desktop.svg");
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.header-and-ratings {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.ratings {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}

.rating {
  background-color: var(--light-grayish-magenta);
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 2rem;
  color: var(--very-dark-magenta);
  font-weight: 700;
  justify-content: flex-start;
  align-items: center;
}

.rating:not(:first-of-type) {
  transform: translateX(calc(40px * (var(--index) - 1)));
}

.star-rating-icons {
  display: flex;
}

.star-rating-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url("/assets/images/icon-star.svg");
}

.testimonials {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  justify-content: space-evenly;
  height: auto;
}

.testimonial {
  background-color: var(--very-dark-magenta);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.testimonial:not(:first-of-type) {
  transform: translateY(calc(20px * (var(--index) - 1)));
}

.testimonial-img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.testimonial-content {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonial-author-name {
  color: var(--white);
  font-weight: 500;
}

.testimonial-author-description {
  color: var(--soft-pink);
  font-weight: 200;
}

.testimonial-author-comment {
  color: var(--white);
}

/* Responsive Design */
@media (max-width: 375px) {
  .container {
    padding: 1rem;
  }

  .ratings,
  .testimonials {
    flex-direction: column;
    align-items: center;
  }
}
