@font-face {
  font-family: "Figtree";
  src: url("../../../public/assets/fonts/Figtree-VariableFont_wght.ttf");
}

body {
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.card {
  background-color: white;
  border: 1px solid #111111;
  border-radius: 20px;
  box-shadow: 8px 8px 0 #000000;
  max-width: 384px;
  max-height: 522px;
  margin: auto;
  overflow: hidden;
  padding: 24px;
  font-family: "Figtree";
}

.card:hover,
.card.active {
  box-shadow: 16px 16px 0 #000000;
}

.card-image img {
  width: 100%;
  /* height: auto; */
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.card-tag {
  display: inline-block;
  background-color: #ffc107;
  color: #111111;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 24px;
}

.card-date {
  display: block;
  color: #111111;
  font-size: 14px;
  margin: 12px 0 12px;
}

.card-title {
  font-size: 24px;
  margin: 12px 0;
  font-weight: 700;
  margin: 12px 0 12px;
}

.card-title:hover,
.card-title.active {
  color: #f4d04e;
}

.card-description {
  font-size: 16px;
  color: #7f7f7f;
  margin: 12px 0 12px;
}

.card-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-weight: 700;
}

.author-image {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.author-name {
  font-size: 14px;
  color: #333;
}

@media only screen and (max-width: 768px) {
  .card-title {
    font-size: 20px;
  }
  .card-description {
    font-size: 14px;
  }
  .card-date {
    font-size: 12px;
  }
  .card-tag {
    font-size: 12px;
  }
  .author-name {
    font-size: 12px;
  }
}
